<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/style.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <script src="https://unpkg.com/peerjs@1.4.7/dist/peerjs.min.js"></script>
  <script src="/socket.io/socket.io.js" defer></script>
  <script src="js/home.js" defer></script>
  <script>
  
  const rooms = '<%= rooms %>' 
  
  </script>
<title>Split or Steal</title>
</head>
<body>
  <center>
    <div id="home">  
        <button type="button" class="btn btn-warning" id="createprivate">Create Private Room</button> 
        </a>
        <button type="button" class="btn btn-success" id="play">Play RandomMode</button>

        <button type="button" class="btn btn-success" id="rooms">rooms</button>
      </div>
      <a href="/play">play</a>
      <a href="/test">test</a>
      <a href="/createRoom">Room</a>
  </center>
  </body>
  <script>
  const play = document.getElementById("play");
  const roomsejs = document.getElementById("rooms");
  play.addEventListener("click", function () {
    if (rooms.length == 0) {
    window,location.assign('/createRoom');
    }
    else {
    window.location.assign(`http://localhost:8080/<%= roomId %>`);
    }
    });
    

  roomsejs.addEventListener("click", function () {
    console.log('rooms in ejs');
    console.log(rooms);
  });
    
  </script>
</html>

