<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <ul id="navbar">
        <li class="navlink-right"> 
            <form id="logout" method="POST" action="/logout">
                <a href="javascript:document.getElementById('logout').submit();">Logout</a>
            </form>
        </li>
    </ul>
    <h1>play</h1>
    <a href="/">back</a>
</body>
</html>